{% extends "base.html" %}

{% block content %}

<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Словарь глагольного управления</h1>
    <div id="rusText" style="display: inline;">
      <div class="header">О проекте</div>
      <div class="texts">
          Цель проекта — создание нового технического средства обучения, которое решает задачу изучения управления глаголов. Основное внимание уделено онлайн-сервису, который поощряет студентов к активному «исследованию» — к участию в процессе обучения. Проект основан на нескольких принципах:
          <ul>
              <li>использование больших аннотированных корпусов русского языка;</li>
              <li>анализ глагольных сочетаний слов с использованием статистических методов (corpus-driven approach);</li>
              <li>создание удобной системы изучения, генерирующей ответы на индивидуальные запросы по глагольному управлению.</li>
          </ul>
          Данный ресурс был разработан исследовательской группой на базе Высшей школы экономики.
      </div>

      <div class="header">Руководитель</div>
      <div class="texts">
          <a href="https://www.hse.ru/staff/klyshinsky" target="_blank"><i>Эдуард Клышинский</i></a>, к.т.н., доцент Школы лингвистики, академический руководитель образовательной программы "Компьютерная лингвистика", Высшая школа экономики<br>
      </div>


      <div class="header">Участники</div>
          <div class="texts">
              <i>Анна Богданова</i>, исследователь, магистратура Высшей школы экономики, Москва<br>
              <i>Александр Ладонцев</i>, исследователь, магистратура Высшей школы экономики, Москва<br>
              <i>Екатерина Гавришина</i>, исследователь, магистратура Высшей школы экономики, Москва<br>
          </div>
      </div>

    </br>  
    <div class="texts">Чтобы воспользоваться словарем, перейдите по <a href="search">ссылке</a>.</div>
  </div>
</main>

{% endblock %}